### Importing essential packages and connecting with spreadsheet

In [ ]:
import pandas as pd
import gspread


gc = gspread.service_account(filename='service_account.json')

bse500 = gc.open("BSE500")
Income_Expense = gc.open("Income / Expense")
Final_Report = gc.open("Final Report")
# print(sh.sheet1.get('A1:AO502'))
# print(sh.worksheet('bse500'))
# df1 = pd.DataFrame(sh.worksheet('bse500'))
BSE500 = pd.DataFrame(bse500.sheet1.get('A1:AP502'))
income_expense = pd.DataFrame(Income_Expense.sheet1.get('A1:K278'))
Final_Report_1 = pd.DataFrame(Final_Report.sheet1.get('B7:C27'))




# BSE500[[0,1,2]]
# income_expense.head(2)
# Final_Report_1

AttributeError: ignored

In [ ]:
import pandasql as ps

ModuleNotFoundError: ignored

In [ ]:
from google.oauth2.service_account import Credentials

scopes = [
    'https://www.googleapis.com/auth/spreadsheets',
    'https://www.googleapis.com/auth/drive'
]

credentials = Credentials.from_service_account_file(
    'service_account.json',
    scopes=scopes
)

gc = gspread.authorize(credentials)

FileNotFoundError: ignored

### Populate Net Income for the month in sheet1 of Gsheet 3
### Populate Net Expense for the given data in sheet1 of Gsheet 3

In [ ]:
income_expense
new_header = income_expense.iloc[0]
new_header
income_expense = income_expense[1:]
income_expense.columns = new_header

NameError: ignored

In [ ]:
income_expense.dtypes

0
Date              object
Account           object
Category          object
Subcategory       object
Note              object
INR               object
Income/Expense    object
Note              object
Amount            object
Currency          object
Account           object
dtype: object

In [ ]:
income_expense["Amount"] = pd.to_numeric(income_expense["Amount"])

In [ ]:
income_expense.dtypes

0
Date               object
Account            object
Category           object
Subcategory        object
Note               object
INR                object
Income/Expense     object
Note               object
Amount            float64
Currency           object
Account            object
dtype: object

In [ ]:
income_expense

,Date,Account,Category,Subcategory,Note,INR,Income/Expense,Note,Amount,Currency,Account
1,3/2/2022 10:11,CUB - online payment,Food,,Brownie,50,Expense,,50.0,INR,50
2,3/2/2022 10:11,CUB - online payment,Other,,To lended people,300,Expense,,300.0,INR,300
3,3/1/2022 19:50,CUB - online payment,Food,,Dinner,78,Expense,,78.0,INR,78
4,3/1/2022 18:56,CUB - online payment,Transportation,,Metro,30,Expense,,30.0,INR,30
5,3/1/2022 18:22,CUB - online payment,Food,,Snacks,67,Expense,,67.0,INR,67
...,...,...,...,...,...,...,...,...,...,...,...
273,11/22/2021 14:16,CUB - online payment,Food,,Dinner,90,Expense,,90.0,INR,90
274,11/22/2021 14:16,CUB - online payment,Food,,Lunch with company,97,Expense,,97.0,INR,97
275,11/21/2021 17:07,CUB - online payment,Transportation,,Rapido,130,Expense,,130.0,INR,130
276,11/21/2021 15:50,CUB - online payment,Food,,Lunch,875,Expense,,875.0,INR,875
277,11/21/2021 13:30,CUB - online payment,Other,,Got from gobi,2000,Income,,2000.0,INR,2000

In [ ]:
Total = income_expense['Amount'].sum()
Total

140572.28

In [ ]:
g_sum = income_expense.groupby(['Income/Expense']).sum()

In [ ]:
g_sum

0                 Amount
Income/Expense
Expense         57918.28
Income          82654.00

In [ ]:
net_income = g_sum['Amount'].iloc[1]

In [ ]:
net_income

82654.0

In [ ]:
net_expense = g_sum['Amount'].iloc[0]

In [ ]:
net_expense

57918.28

In [ ]:
f_r = gc.open("Final Report").sheet1

In [ ]:
f_r.update_cell(7,3,net_income)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!C7',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [ ]:
f_r.update_cell(8,3,net_expense)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!C8',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

### Cost incurred in different categories : Food, Other, Transportation, Social Life, Household, Apparel, Education, Salary, Allowance, Self-development, Beauty, Gift, Petty cash - for the given data in sheet1 of Gsheet 3

In [ ]:
cat_sum = income_expense.groupby(['Category']).sum()

In [ ]:
cat_sum

0                   Amount
Category
Allowance         14000.00
Apparel            3388.00
Beauty              196.00
Education          1400.00
Food              23396.76
Gift                115.00
Household         12188.00
Other             65768.00
Petty cash            3.00
Salary             8000.00
Self-development    400.00
Social Life        2513.72
Transportation     9203.80

In [ ]:
Food = cat_sum['Amount'].iloc[4]
Other = cat_sum['Amount'].iloc[7]
Transportation = cat_sum['Amount'].iloc[12]
Social_Life = cat_sum['Amount'].iloc[11]
Household = cat_sum['Amount'].iloc[6]
Apparel = cat_sum['Amount'].iloc[1]
Education = cat_sum['Amount'].iloc[3]
Salary = cat_sum['Amount'].iloc[9]
Allowance = cat_sum['Amount'].iloc[0]
Beauty = cat_sum['Amount'].iloc[2]
Gift = cat_sum['Amount'].iloc[5]
Petty_cash = cat_sum['Amount'].iloc[8]

In [ ]:
f_r.update_cell(10,3,Food)
f_r.update_cell(11,3,Other)
f_r.update_cell(12,3,Transportation)
f_r.update_cell(13,3,Social_Life)
f_r.update_cell(14,3,Household)
f_r.update_cell(15,3,Apparel)
f_r.update_cell(16,3,Education)
f_r.update_cell(17,3,Salary)
f_r.update_cell(18,3,Allowance)
f_r.update_cell(19,3,Beauty)
f_r.update_cell(20,3,Gift)
f_r.update_cell(21,3,Petty_cash)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!C21',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

### Available for investment = Net Income - Net Expense(this has to be populated through python formula and not excel formula)

In [ ]:
Available_for_investment = net_income - net_expense

In [ ]:
f_r.update_cell(24,3,Available_for_investment)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!C24',
 'updatedRows': 1,
 'updatedColumns': 1,
 'updatedCells': 1}

In [ ]:
BSE500

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,Hello world,BSE_code,NSE_code,ISIN,Sector,Industry,Date,Price,_1_day_change_per,_52_Week_Low,...,Dividend_Yield_per,EV_/_EBITDA,Price_/_Sales,Price_/_Cash_Flow,Earning_Per_Share,Book_Value_Per_Share,Cash_Flow_Per_Share,Free_Cash_Flow_Per_Share,Dividend_Per_Share,Delta
1,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,6158.70,0.59,6086.30,...,7.95,16.68,4.98,25.39,425.09,631.65,242.96,459.22,490.00,0.28
2,Page Industries Ltd.,532827,PAGEIND,INE761H01022,Textiles,Readymade Garments,2022-09-05,49786.20,-0.26,31500.00,...,0.74,51.79,11.75,169.84,656.83,1161.63,293.09,191.03,370.00,0.03
3,Procter & Gamble Hygiene & Health Care Ltd.,500459,PGHH,INE179A01014,Consumer Staples,Household & Personal Products,2022-09-05,14125.65,0.24,12801.00,...,1.13,52.71,12.10,53.17,177.37,227.22,265.90,270.47,315.00,0.14
4,Abbott India Ltd.,500488,ABBOTINDIA,INE358A01014,Healthcare,Drugs & Pharma,2022-09-05,18209.00,-1.26,15514.00,...,1.51,30.98,7.73,40.84,380.52,1403.00,445.96,446.90,275.00,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,Westlife Development Ltd.,505533,WESTLIFE,INE274F01020,Services,Restaurants,2022-09-05,650.05,0.82,402.30,...,0.00,34.06,7.81,59.43,3.55,30.99,10.94,1.29,0.00,0.05
498,Wockhardt Ltd.,532300,WOCKPHARMA,INE049B01025,Healthcare,Drugs & Pharma,2022-09-05,242.70,3.01,201.50,...,0.00,20.50,1.18,8.48,-20.70,260.73,28.68,8.54,0.00,0.51
499,Yes Bank Ltd.,532648,YESBANK,INE528G01035,Financial,Banking,2022-09-05,16.65,2.78,10.80,...,0.00,23.87,2.13,1.77,0.47,13.61,9.42,7.86,0.00,0.07
500,Zomato Ltd.,543320,ZOMATO,INE758T01015,Services,E-Commerce,2022-09-05,59.65,-0.17,40.60,...,0.00,-40.17,10.71,-73.58,-1.21,23.01,-0.91,-1.16,0.00,0.65
501,Tata Motors DVR,570001,TATAMTRDVR,IN9155A01020,Automobile,Commercial Vehicles,2022-09-05,227.80,-0.96,137.50,...,0.00,,,,,,,,,0.24

In [ ]:
new_header2 = BSE500.iloc[0]
new_header2
BSE500 = BSE500[1:]
BSE500.columns = new_header2

In [ ]:
BSE500.dtypes

0
Hello world                 object
BSE_code                    object
NSE_code                    object
ISIN                        object
Sector                      object
Industry                    object
Date                        object
Price                       object
_1_day_change_per           object
_52_Week_Low                object
_52_Week_High               object
_3_Year_Low                 object
_3_Year_High                object
_5_Year_Low                 object
_5_Year_High                object
All_Time_Low                object
All_Time_High               object
Market_Cap_Cr               object
Enterprise_Value_Cr         object
_1_Week_Return              object
_1_Month_Return             object
_3_Month_Return_per         object
_1_Year_Return_per          object
_3_Year_Return              object
_5_Year_Return_per          object
_10_Year_Return_per         object
Price_to_Earnings           object
Median_P/E                  object
Price_to_Book               object
Median_P/B                  object
Earning_Yield_per           object
Price_earnings_to_growth    object
Dividend_Yield_per          object
EV_/_EBITDA                 object
Price_/_Sales               object
Price_/_Cash_Flow           object
Earning_Per_Share           object
Book_Value_Per_Share        object
Cash_Flow_Per_Share         object
Free_Cash_Flow_Per_Share    object
Dividend_Per_Share          object
Delta                       object
dtype: object

In [ ]:
BSE500 = BSE500.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
BSE500['Price'] = BSE500['Price'].astype(float)
BSE500['_1_day_change_per'] = BSE500['_1_day_change_per'].astype(float)
BSE500['_52_Week_Low'] = BSE500['_52_Week_Low'].astype(float)
BSE500['_52_Week_High'] = BSE500['_52_Week_High'].astype(float)
BSE500['_3_Year_Low'] = BSE500['_3_Year_Low'].astype(float)
BSE500['_3_Year_High'] = BSE500['_3_Year_High'].astype(float)
BSE500['_5_Year_Low'] = BSE500['_5_Year_Low'].astype(float)
BSE500['_5_Year_High'] = BSE500['_5_Year_High'].astype(float)
BSE500['All_Time_Low'] = BSE500['All_Time_Low'].astype(float)
BSE500['All_Time_High'] = BSE500['All_Time_High'].astype(float)
BSE500['Market_Cap_Cr'] = BSE500['Market_Cap_Cr'].astype(float)
BSE500['Enterprise_Value_Cr'] = BSE500['Enterprise_Value_Cr'].astype(float)
BSE500['_1_Week_Return'] = BSE500['_1_Week_Return'].astype(float)
BSE500['_1_Month_Return'] = BSE500['_1_Month_Return'].astype(float)
BSE500['_3_Month_Return_per'] = BSE500['_3_Month_Return_per'].astype(float)
BSE500['_1_Year_Return_per'] = BSE500['_1_Year_Return_per'].astype(float)
BSE500['_3_Year_Return'] = BSE500['_3_Year_Return'].astype(float)
BSE500['_5_Year_Return_per'] = BSE500['_5_Year_Return_per'].astype(float)
BSE500['_10_Year_Return_per'] = BSE500['_10_Year_Return_per'].astype(float)
BSE500['Price_to_Earnings'] = BSE500['Price_to_Earnings'].astype(float)
BSE500['Median_P/E'] = BSE500['Median_P/E'].astype(float)
BSE500['Price_to_Book'] = BSE500['Price_to_Book'].astype(float)
BSE500['Median_P/B'] = BSE500['Median_P/B'].astype(float)
BSE500['Earning_Yield_per'] = BSE500['Earning_Yield_per'].astype(float)
BSE500['Price_earnings_to_growth'] = BSE500['Price_earnings_to_growth'].astype(float)
BSE500['Dividend_Yield_per'] = BSE500['Dividend_Yield_per'].astype(float)
BSE500['EV_/_EBITDA'] = BSE500['EV_/_EBITDA'].astype(float)
BSE500['Price_/_Sales'] = BSE500['Price_/_Sales'].astype(float)
BSE500['Price_/_Cash_Flow'] = BSE500['Price_/_Cash_Flow'].astype(float)
BSE500['Earning_Per_Share'] = BSE500['Earning_Per_Share'].astype(float)
BSE500['Book_Value_Per_Share'] = BSE500['Book_Value_Per_Share'].astype(float)
BSE500['Cash_Flow_Per_Share'] = BSE500['Cash_Flow_Per_Share'].astype(float)
BSE500['Free_Cash_Flow_Per_Share'] = BSE500['Free_Cash_Flow_Per_Share'].astype(float)
BSE500['Dividend_Per_Share'] = BSE500['Dividend_Per_Share'].astype(float)
BSE500['Delta'] = BSE500['Delta'].astype(float)

In [ ]:
BSE500.dtypes

0
Hello world                  object
BSE_code                     object
NSE_code                     object
ISIN                         object
Sector                       object
Industry                     object
Date                         object
Price                       float64
_1_day_change_per           float64
_52_Week_Low                float64
_52_Week_High               float64
_3_Year_Low                 float64
_3_Year_High                float64
_5_Year_Low                 float64
_5_Year_High                float64
All_Time_Low                float64
All_Time_High               float64
Market_Cap_Cr               float64
Enterprise_Value_Cr         float64
_1_Week_Return              float64
_1_Month_Return             float64
_3_Month_Return_per         float64
_1_Year_Return_per          float64
_3_Year_Return              float64
_5_Year_Return_per          float64
_10_Year_Return_per         float64
Price_to_Earnings           float64
Median_P/E                  float64
Price_to_Book               float64
Median_P/B                  float64
Earning_Yield_per           float64
Price_earnings_to_growth    float64
Dividend_Yield_per          float64
EV_/_EBITDA                 float64
Price_/_Sales               float64
Price_/_Cash_Flow           float64
Earning_Per_Share           float64
Book_Value_Per_Share        float64
Cash_Flow_Per_Share         float64
Free_Cash_Flow_Per_Share    float64
Dividend_Per_Share          float64
Delta                       float64
dtype: object

### Make a new column in Gsheet 1 named â€œDeltaâ€ and populate it with (52 Week High - price)/(52 week High)

In [ ]:
BSE500
l = list((BSE500['_52_Week_High'] - BSE500['Price'])/(BSE500['_52_Week_High']))

In [ ]:
cell_list = bse500.range('AP2:AP502')
cell_values = l

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

bse500.update_cells(cell_list)

{'spreadsheetId': '1fdVdlmTPiFCY3FjTSntKBB_dZALveY4AF-tbhVTvJ5I',
 'updatedRange': "'bse500'!AP2:AP502",
 'updatedRows': 501,
 'updatedColumns': 1,
 'updatedCells': 501}

In [ ]:
BSE500.head(1)

,Hello world,BSE_code,NSE_code,ISIN,Sector,Industry,Date,Price,_1_day_change_per,_52_Week_Low,...,Dividend_Yield_per,EV_/_EBITDA,Price_/_Sales,Price_/_Cash_Flow,Earning_Per_Share,Book_Value_Per_Share,Cash_Flow_Per_Share,Free_Cash_Flow_Per_Share,Dividend_Per_Share,Delta
1,Sanofi India Ltd.,500674,SANOFI,INE058A01010,Healthcare,Drugs & Pharma,2022-09-05,6158.7,0.59,6086.3,...,7.95,16.68,4.98,25.39,425.09,631.65,242.96,459.22,490.0,0.28

In [ ]:
# q1 = '''
# SELECT Hello_world FROM BSE500 
# WHERE Delta > 0 AND Market_Cap(Cr) < 2000 AND _10-Year_Return_per<8
# ORDER BY Dividend_Per_Share'''

In [ ]:
# print(ps.sqldf(q1,locals()))
# df.sort_values(by=['Dividend_Per_Share'])

#### High Risk Taking

In [ ]:
hrt = list((BSE500[(BSE500.Delta>0) & (BSE500.Market_Cap_Cr<5000) & (BSE500._10_Year_Return_per<8)].sort_values(by=['Dividend_Per_Share'],ascending=False).head(5)['Hello world']))

In [ ]:
hrt

['VST Industries Limited',
 'MOIL Ltd.',
 'Gujarat Pipavav Port Ltd',
 'Rallis India Ltd.',
 'Engineers India Ltd.']

In [ ]:
cell_list = f_r.range('F26:F30')
cell_values = hrt

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!F26:F30',
 'updatedRows': 5,
 'updatedColumns': 1,
 'updatedCells': 5}

#### Risk Taking

In [ ]:
rt = list((BSE500[(BSE500.Delta>0) & (BSE500.Market_Cap_Cr.between(5000,8000)) & (BSE500._10_Year_Return_per.between(8,15))].sort_values(by=['Dividend_Per_Share'],ascending=False).head(5)['Hello world']))

In [ ]:
rt

['The Great Eastern Shipping Company Ltd.',
 'Welspun Corp Ltd.',
 'Jyothy Labs Ltd.',
 'Gujarat State Fertilizers & Chemicals Ltd.',
 'Sunteck Realty Ltd.']

In [ ]:
cell_list = f_r.range('F10:F14')
cell_values = rt

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!F10:F14',
 'updatedRows': 5,
 'updatedColumns': 1,
 'updatedCells': 5}

#### Moderate Risk Taking

In [ ]:
mrt = list((BSE500[(BSE500.Delta>0) & (BSE500.Market_Cap_Cr.between(8001,15000)) & (BSE500._10_Year_Return_per.between(16,20))].sort_values(by=['Dividend_Per_Share'],ascending=False).head(5)['Hello world']))

In [ ]:
mrt

['Cyient Ltd.',
 'Chambal Fertilisers & Chemicals Ltd.',
 'BASF India Ltd.',
 'Allcargo Logistics Ltd.',
 'Mahindra CIE Automotive Ltd.']

In [ ]:
cell_list = f_r.range('F18:F22')
cell_values = mrt

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!F18:F22',
 'updatedRows': 5,
 'updatedColumns': 1,
 'updatedCells': 5}

#### Low Risk Taking

In [ ]:
lrt = list((BSE500[(BSE500.Delta>0) & (BSE500.Market_Cap_Cr>15000) & (BSE500._10_Year_Return_per>20)].sort_values(by=['Dividend_Per_Share'],ascending=False).head(5)['Hello world']))

In [ ]:
lrt

['Page Industries Ltd.',
 'Abbott India Ltd.',
 'MRF Ltd.',
 'Bajaj Holdings & Investment Ltd.',
 'Honeywell Automation India Ltd.']

In [ ]:
cell_list = f_r.range('F2:F6')
cell_values = lrt

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!F2:F6',
 'updatedRows': 5,
 'updatedColumns': 1,
 'updatedCells': 5}

## Subtask - 3:

#### Compare the median of column Enterprise Value(Cr) across different Sectors. For instance, what is the median enterprise value of Technology sector as compared to Services sector

In [ ]:
Enter_Val_Median_by_Sector = BSE500.groupby(['Sector'])['Enterprise_Value_Cr'].median()
Enter_Val_Median_by_Sector.head(1)

Sector
Automobile    35909.06
Name: Enterprise_Value_Cr, dtype: float64

In [ ]:
pd.DataFrame(Enter_Val_Median_by_Sector[15:17])

            Enterprise_Value_Cr
Sector
Services               9644.630
Technology            15692.095

#### Try to find a relation between Dividend Per Share with Market Cap(Cr)

In [ ]:
corr1 = BSE500['Dividend_Per_Share'].corr(BSE500['Market_Cap_Cr'])
print(corr1)
print('The linear correlation coefficient of approximately 0.04 suggests that there is no appreciable linear correlation.')

0.04037095586290391
The linear correlation coefficient of approximately 0.04 suggests that there is no appreciable linear correlation.

#### Count the companies in different Industry with positive and negative 3-Year Return. For instance how many companies in Drugs & Pharma industry have positive 3-Year Return and how many have that negative. Basis this, decide which industry would you recommend someone to invest if the same return is followed

In [ ]:
BSE500['ncompany'] = BSE500['Hello world'].loc[BSE500['_3_Year_Return']<0]
BSE500['pcompany'] = BSE500['Hello world'].loc[BSE500['_3_Year_Return']>0]

In [ ]:
BSE500['ncompany']
BSE500['pcompany']

1                                Sanofi India Ltd.
2                             Page Industries Ltd.
3      Procter & Gamble Hygiene & Health Care Ltd.
4                                Abbott India Ltd.
5                                       Bosch Ltd.
                          ...
497                      Westlife Development Ltd.
498                                 Wockhardt Ltd.
499                                            NaN
500                                            NaN
501                                Tata Motors DVR
Name: pcompany, Length: 501, dtype: object

In [ ]:
positive_3_Year_Return = BSE500.groupby('Industry').agg({'pcompany':['count']})
negative_3_Year_Return = BSE500.groupby('Industry').agg({'ncompany':['count']})

In [ ]:
positive_3_Year_Return

0                   pcompany
                       count
Industry
ACs & Refrigerators        4
Abrasives                  2
Air Transport              1
Aluminium                  2
Aquaculture                1
...                      ...
Tyres & Tubes              4
Vegetable oils             1
Welding machinery          1
Wires & cables             3
Wood                       1

[134 rows x 1 columns]

In [ ]:
negative_3_Year_Return

0                   ncompany
                       count
Industry
ACs & Refrigerators        2
Abrasives                  0
Air Transport              1
Aluminium                  0
Aquaculture                0
...                      ...
Tyres & Tubes              0
Vegetable oils             0
Welding machinery          0
Wires & cables             0
Wood                       0

[134 rows x 1 columns]

In [ ]:
joining = pd.concat([positive_3_Year_Return ,negative_3_Year_Return], axis=1, join='inner')
joining
joining[36:37]

0              pcompany ncompany
                  count    count
Industry
Drugs & Pharma       31        5

### Come up with any one KPI which can help define the best stock across different Sector, you may need to learn a little bit of Finance for the same

In [ ]:
pe_kpi_stock_dataframe = ((BSE500[(BSE500.Delta>0) & (BSE500._10_Year_Return_per>20)].sort_values(by=['Dividend_Per_Share'],ascending=False)[['NSE_code','Sector','Price_to_Earnings']]))

In [ ]:
#pe_kpi_stock = pe_kpi_stock_dataframe.sort_values(by=['Price_to_Earnings'])

In [ ]:
import pandasql as ps

In [ ]:
q1 = """

WITH CTE AS
(SELECT *
,row_number() over (partition by Sector order by Price_to_Earnings) as rn
FROM pe_kpi_stock_dataframe
where Price_to_Earnings is not null)
select * from CTE
where rn == 1

"""
print('''Here I am choosing price to earning as a kpi. Minimum the price to earning ratio indicates 
how cheepe the stock is. Here is the Industry wise top 1 stock whoes delta is greater than 0, 10 year
return is greater than 20%, sorted by maximum dividend per share and price to earning ratio is lowest
''')
top_stock = pd.DataFrame(ps.sqldf(q1, locals()))
print(top_stock)

Here I am choosing price to earning as a kpi. Minimum the price to earning ratio indicates
how cheepe the stock is. Here is the Industry wise top 1 stock whoes delta is greater than 0, 10 year
return is greater than 20%, sorted by maximum dividend per share and price to earning ratio is lowest

      NSE_code                  Sector  Price_to_Earnings  rn
0   SUNCLAYLTD              Automobile              15.73   1
1    FINCABLES           Capital Goods              11.26   1
2         GNFC               Chemicals               5.66   1
3         HFCL           Communication              39.22   1
4       KNRCON            Construction              20.01   1
5    WHIRLPOOL  Consumer Discretionary              36.27   1
6      JKPAPER        Consumer Staples              10.16   1
7          SRF             Diversified              36.79   1
8   ADANIPOWER                  Energy              15.99   1
9   MOTILALOFS               Financial              10.39   1
10  AUROPHARMA              Healthcare              13.20   1
11       UFLEX               Materials               4.56   1
12    JSWSTEEL         Metals & Mining              10.57   1
13      NAUKRI                Services               4.30   1
14      MASTEK              Technology              18.49   1
15         VTL                Textiles               6.09   1

In [ ]:
top_stock_col_1 = top_stock['NSE_code']

In [ ]:
top_stock_col_2 = top_stock['Sector']

In [ ]:
top_stock_col_3 = top_stock['Price_to_Earnings']

In [ ]:
cell_list = f_r.range('A34:A49')
cell_values = top_stock_col_1

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!A34:A49',
 'updatedRows': 16,
 'updatedColumns': 1,
 'updatedCells': 16}

In [ ]:
cell_list = f_r.range('B34:B49')
cell_values = top_stock_col_2

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)

{'spreadsheetId': '1dlArNE_7-2XCSCrR9dEgIM72FZ0GEsndF3hng9XOp0M',
 'updatedRange': 'Sheet1!B34:B49',
 'updatedRows': 16,
 'updatedColumns': 1,
 'updatedCells': 16}

In [ ]:
cell_list = f_r.range('B34:B49')
cell_values = top_stock_col_2

for i, val in enumerate(cell_values):  #gives us a tuple of an index and value
    cell_list[i].value = val    #use the index on cell_list and the val from cell_values

f_r.update_cells(cell_list)